<%= form_for collection, :html => {:multipart => true} do |f| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Edit collection</h2>
  <%= link_to 'View Collection', @collection, class: "btn btn-default pull-right collection-show-buttons collection-button-move-left" %>
  <%= link_to 'All Collections', collections_path, class: "btn btn-default pull-right collection-show-buttons" %>

  <hr style="border: 1px solid darkgrey;">
  <div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :detail %>
      <%= f.text_area :detail, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :primary_slide %>
      <%= f.select('primary_slide_id', options_from_collection_for_select(collection.slides, :id, :title, f.object.primary_slide_id), { :include_blank => '-- Select One --' }, :required => false, class: "form-control") %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

  &nbsp;
  &nbsp;

  <% if !collection.slides.blank? %>
    <%= render :partial => "edit_slides_in_collection", :locals => {f:f, slide_types:@slide_types, kiosks:@kiosks } %>
  <% end %>

   
<% end %>
