<%= form_for collection, :html => {:multipart => true} do |f| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit collection</h3>
  </div>
  <div class="panel-body">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit slides in collection</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :slides do |builder| %>
          <tr>
            <th scope="row">
              <strong>Slide:</strong><br>
              <%= image_tag(builder.object.image_url(:thumb)) if builder.object.image_url(:thumb) %>
            </th>
            <td>
              <fieldset>
                <div class="field">
                  <%= builder.label :image %>
                  <%= builder.file_field :image, required: false, class: "form-control" %>
                </div>

                <div class="field">
                  <%= builder.label :caption %>
                  <%= builder.text_area :caption, required: true,class: "form-control" %>
                </div>

                <div class="field">
                  <%= builder.label :expires_at %>
                  <%= builder.datetime_select :expires_at, {}, {class: 'datetime-form-control'} %>
                </div>

                <div class="field">
                  <%= builder.label :title %>
                  <%= builder.text_field :title, required: true, class: "form-control" %>
                </div>

                <div class="field">
                  <%= builder.label :slide_type_id %>
                  <%= builder.select('slide_type_id', options_from_collection_for_select(@slide_types, :id, :name, builder.object.slide_type_id), { :include_blank => '-- Select One --' }, :required => true, class: "form-control") %>
                </div>

                <div class="field">
                  <%= builder.label :kiosk_id %>
                  <%= builder.select('kiosk_id', options_from_collection_for_select(@kiosks, :id, :name, builder.object.kiosk_id), { :include_blank => '-- Select One --' }, :required => true, class: "form-control") %>
                </div>
              </fieldset>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="actions">
  <%= f.submit class: "btn btn-primary" %>
</div>
<% end %>
