<fieldset>
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-5">
        <%= f.label :start_date, "Start Date" %><br>
        <%= f.datetime_select :start_date, {}, {class: 'datetime-form-control'} %><br>
      </div>
      <div class="col-xs-5">
        <%= f.label :end_date, "End Date" %><br>
        <%= f.datetime_select :end_date, {}, {class: 'datetime-form-control'} %>
      </div>
      <div class="col-xs-2">
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields btn btn-danger" %>
      </div>
    </div>
  </li>
</fieldset>
