<p id="notice"><%= notice %></p>

<h1>Slides</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Slide</th>
      <th>Caption</th>
      <th>Expires at</th>
      <th>Title</th>
      <th>Slide type</th>
      <th>Kiosk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= image_tag slide.image.url(:thumb) %></td>
        <td><%= slide.caption %></td>
        <td><%= slide.expires_at %></td>
        <td><%= slide.title %></td>
        <td><%= slide.slide_type.name if slide.slide_type %></td>
        <td><%= slide.kiosk.name if slide.kiosk %></td>
        <td><%= link_to 'Show', slide %></td>
        <td><%= link_to 'Edit', edit_slide_path(slide) %></td>
        <td><%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_slide_path %>
