<p id="notice"><%= notice %></p>
<%= link_to 'New Slide', new_slide_path, class: "btn btn-primary pull-right" %>
<h1>Slides</h1>
<hr style="border: 1px solid darkgrey;">

<%# TAB: Setup the tab layout to have filter content for slides %>
<div class="tabs" role="main">
  <%# UL: Create an unordered list to setup the filter %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
      <a class="nav-link" href="#active_slides" aria-controls="active_slides" role="tab" data-toggle="tab">
        <%= 'Active Slides' %>
      </a>
    </li>

    <li role="presentation" class="nav-item">
      <a class="nav-link" href="#all_slides" aria-controls="all_slides" role="tab" data-toggle="tab">
        <%= 'All Slides' %>
      </a>
    </li>
  </ul>

  <%# SUB-CONTENT: Create the tab content card to display and render the form %>
  <div class="tab-content card">
    <div role="tabpanel" class="tab-pane" id="active_slides">
      <div class="form-tab-content">
        <%= render "active_slides_form" %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="all_slides">
      <div class="form-tab-content">
        <%= render "all_slides_form" %>
      </div>
    </div>
  </div>
</div>
