<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Slide Info</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Field Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <strong>Caption:</strong>
        </th>
        <td>
          <p>
          <%= @slide.caption %>
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <strong>Display dates:</strong>
        </th>
        <td>
          <ul>
            <% for date_range in @slide.date_ranges %>
              <li>
                <%= date_range.start_date.strftime("%m/%d/%Y %I:%M:%S %p") %> - <%= date_range.end_date.strftime("%m/%d/%Y %I:%M:%S %p") %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <strong>Title:</strong>
        </th>
        <td>
          <p>
          <%= @slide.title %>
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <strong>Slide type:</strong>
        </th>
        <td>
          <p>
          <%= @slide.slide_type.name %>
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <strong>Slide Collection:</strong>
        </th>
        <td>
          <p>
          <%= link_to(@slide.collection.name, collection_path(@slide.collection.id)) if @slide && @slide.collection %>
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <strong>Kiosks:</strong>
        </th>
        <td>
          <ul>
            <% for kiosk in @slide.kiosks %>
              <li>
                <%= link_to kiosk.name, kiosk_show_path(id: kiosk.name) %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <strong>Image:</strong><br>
        </th>
        <td>
          <p>
          <%= image_tag @slide.image_url(:large).to_s %>
          </p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <strong>Image Sizes</strong><br>
        </th>
        <td>
          <p>
          <%= link_to "x-large", @slide.image_url(:xlarge).to_s %> | 
          <%= link_to "large", @slide.image_url(:large).to_s %> | 
          <%= link_to "medium", @slide.image_url(:medium).to_s %> | 
          <%= link_to "original", @slide.image_url.to_s %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_slide_path(@slide), class: "btn btn-primary" %>
<%= link_to 'All Slides', slides_path, class: "btn btn-default" %>
