<%= form_for(slide_type) do |f| %>
  <% if slide_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide_type.errors.count, "error") %> prohibited this slide_type from being saved:</h2>

      <ul>
      <% slide_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
