<h2>Log in</h2>

<%= form_tag(session_path(:user), class: "navbar-form navbar-left") do %>
  <div class="form-group">
    <div>
      <%= label_tag 'user_email', 'Email'  %><br>
      <%= text_field_tag 'user[email]', nil, class: "form-control" %>
    </div>
    <div>
      <%= label_tag 'user_password', 'Password' %><br>
      <%= password_field_tag 'user[password]', nil, class: "form-control" %>
    </div>
    <div>
      <%= check_box_tag 'user[remember_me]', nil, false, class: "form-control" %>
      <%= label_tag 'user[remember_me]', 'Remember me' %>
    </div>
    <div>
      <%= button_tag "Sign in", class: "btn btn-primary" %>
    </div>

    <%= link_to "Forgot your password?", new_password_path(:user) %>

  </div>
<% end %>
