<div id="application_root"
     data-kiosk-type="<%= @kiosk.kiosk_layout.name %>"
     data-slides='<%= raw(render(template: "kiosk/show.json", locals: { slides: @slides })) %>'
     data-restart-kiosk='<%= raw(render(template: "kiosk/show.json", locals: { restart_kiosk: @restart_kiosk })) %>'
     data-static-maps='<%= raw(render(template: "kiosk/maps.json", locals: { maps: @maps })) %>'
     data-kiosk-map-default-floor-number="<%= @kiosk.map_default_floor_number %>"
     data-kiosk-url="<%= kiosk_show_url id: @kiosk.name %>"
     data-maps-base-url="<%= @maps_base_url %>"
     data-api-uri="<%= @api_uri %>"
     data-search-uri="<%= @search_uri %>"
     ></div>
