<%= form_for(kiosk) do |f| %>
  <% if kiosk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kiosk.errors.count, "error") %> prohibited this kiosk from being saved:</h2>

      <ul>
        <% kiosk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :kiosk_layout_id %>
        <%= f.select('kiosk_layout_id', options_from_collection_for_select(@kiosk_layouts, :id, :name, kiosk.kiosk_layout_id), { :include_blank => '-- Select One --' }, :required => true, class: "form-control") %>
      </div>
      <div class="field">
        <%= f.label :map_default_floor_number %>
        <%= f.text_field :map_default_floor_number, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label "Slide Length (in seconds)" %>
        <%= f.number_field :slide_length, class: "form-control", min: 5 %>
      </div>
      <div class="field">
        <%= f.label :restart_at_active, "Enable restarting kiosk" %>
        <%= f.check_box :restart_at_active, {:class => "enable_restart_at"} %>
      </div>

      <div class="field restart_at">
        <%= f.label :restart_at, "Restart kiosk at" %><br>
        <%= f.datetime_select :restart_at, {:include_blank => true, :select => DateTime.now}, {class: 'datetime-form-control form-inline'} %>
        <button type="button" id="set_today_btn" class="btn btn-default" autocomplete="off">
          Set to Today
        </button>
        <button type="button" id="clear_restart_at_btn" class="btn btn-default" autocomplete="off">
          Clear
        </button>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
