<p id="notice"><%= notice %></p>

<h1>Kiosks</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Kiosks</h2>
  </div>
  <%= form_tag edit_multiple_kiosks_path, method: :get do %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><input type="checkbox" name="check_all" id="check_all" value=""></th>
          <th>Name</th>
          <th>Map Default Floor Number (if applicable)</th>
          <th>Restart Status</th>
          <th>Restart Date/time</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @kiosks.each do |kiosk| %>
          <tr>
            <td><%= check_box_tag "kiosk_ids[]", kiosk.id, false, class: "check_kiosk" %></td>
            <td><%= link_to kiosk.name, kiosk %></td>
            <td><%= kiosk.map_default_floor_number %></td>
            <td>
              <% if kiosk.restart_at_active == true %>
                <% if kiosk.is_restart_pending? %>
                  <span class="label label-danger">Pending</span>
                <% else %>
                  <span class="label label-default">Restarted</span>
                <% end %>
              <% else %>
                <span class="label label-default">Restarted</span>
              <% end %>
            </td>
            <td><%= kiosk.restart_at %></td>
            <td><%= link_to 'Show', kiosk_show_path(id: kiosk.name) %></td>
            <td><%= link_to 'Edit', edit_kiosk_path(kiosk) %></td>
            <td><%= link_to 'Destroy', kiosk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <%= submit_tag "Edit Selected", class: "btn btn-primary btn_edit_selected hidden" %>
        </td>
      </tr>
      </tfoot>
    </table>
  <% end %>
</div>

<br>

<%= link_to 'New Kiosk', new_kiosk_path, class: "btn btn-primary" %>
<%= link_to 'Admin Panel', admin_index_path, class: "btn btn-default" %>
