<!DOCTYPE html>
<html>
<head>
  <title>OSULP Kiosk</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%= yield %>
</body>
<%# Include the javascript at the bottom to ensure it loads last when the page is ready %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= render partial: "layouts/ga" %>
</html>